*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    /* background-color: whitesmoke; */
}
.main{
    padding-left:12em;
    padding-right: 9.7em;
    margin-top: 10em;
}
.outer{
    height: 100%;
    width:100%;
    display: fl;
}

.Navbar{
    padding:1rem;
    font-size: 23px;
    color:rgb(43, 42, 42);
}

.intro{
    height: 100vh;
    /* width: 100%; */
    margin:1em 1em 0em 1em;
    display:flex;
    flex-direction: row;
}
.introitem{
    padding: 9.7em;  
}
.named{
    padding:14em 0em 0em 12em;
    flex-basis: 60%;
    flex-grow:1;
}
.imgd{
    flex-basis: 40%;
}
.mypic{
    border-radius: 50%;
    height:300px;
    /* padding-left: 3em; */
}
.name{
    letter-spacing: 4px;
    font-size: 60px;
    /* font */
}
.info{
    font-size: 25px;

}

.main2{
height: 100%;
padding-left:12em;
padding-right: 9.7em;
}
#back{
    margin:1rem;
    font-size: 80px;
    font-weight: bolder;
    color:rgb(218, 216, 211);
    letter-spacing: 3px;
}
#front{
    position: relative;
    top:-6.5rem;
    left:-3.5px;
    background-color: transparent;
    letter-spacing: 2.5px;
    font-size: 45px;
}
.box1{
    width: 100%;
    margin-bottom: -2em;
}
.subhead{
    font-weight: bold;
    font-size:30px;
}
.intro-2{
    display: flex;
    height:100%;

}
.intro2-item{
height:100%


}

.hello{
    flex-basis: 60%;
    padding-right: 30px;

}
.content{
    margin-top:50px;
    /* font-family: ; */
}
.skill-content{
    margin-top:30px;
}
.progress{
    margin-bottom: 25px;
}
.contact-me{
    display: flex;
    flex-direction: row;
    /* padding: 2em; */
    width: 60%;
    justify-content: space-between;
}
.skills{
    flex-basis: 40%;
}


.tech-tiles{
    padding: 2em;
    top:-30px;
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap:12px; */
    justify-content: space-between;
}
.tech-tiles-items{
    flex-basis: 30%;
    /* border:2px solid red; */
    height: 60px;
    padding-top:5px ;
    padding-left:20px;

}
.tech-tiles-items:hover{
    background-color: whitesmoke;
}

.tech-icons{
    height :50px;
    margin:0;
    padding:0;
}

.main4{
    padding-left:12em;
    padding-right: 9.7em;
    margin-top: 3em;
}
.main5, .main6 {
    padding-left:12em;
    padding-right: 9.7em;
    margin-top: 6em;
}
.profile{
        height: 300px;
}
.main6{
    height: 500px;
}
.main7{
    padding-left:12em;
    padding-right: 9.7em;
    margin-bottom: 3em;
    height: 100%;
}
.contact-me-footer{
    display: flex;
    flex-direction: row;
    /* padding: 2em; */
    width: 40%;
    justify-content: space-between;
}
.test{
    border: 2px solid red;
    /* width:100%; */

}
.footer > p{
    width:100%;
    text-align: center;
}

.mobile{
    display: none;
    height:100vh;
}
@media screen and (max-width:900px){
    .outer{
        display: none;
    }
    .mobile{
        display: block;
        
    }
}