*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    color: aliceblue;
    font-family:Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}
.def-pad{
    padding: 1em 6em;
}
#main1{
    background-color: #141628;
    height: 100vh;
}
nav{
    padding:1em;
    padding-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    top:0;  
}
nav > span{
    font-size: x-large;
    font-weight: bolder;
}
.nav_item{
    flex-grow: 0.1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: medium;
    color: rgb(228, 228, 228);
}
.nav_spans{
    align-items: center;
    height: 100%;
    padding-top: 0.3em;
    text-align: center;
}
@media screen and (max-width:900px){
    .nav_item{
        display: none;
    }
    .def-pad{
        padding: 1em 2em;
    }
} 

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    height: 92%;
}

#inro_main{
    flex-basis: 0.7;
}

#name{
font-size:5em;  
}
#high{
    color: #FD4370;
}
.intro_illus{
    flex-basis: 0.3;
    height: 50vh;
    width: 40vw;

}
@media screen and (max-width:900px){

    .intro_illus{
        display: none;
    }
}
.desc{
    letter-spacing: 2px;
    padding: 1.5em 0em ;

}
#work_btn{
    background-color:#FD4370;
    padding:1em 2em;
    color: white;   
    border: none;
    border-radius:20px;
}
.test{ 
    /* border: 1px solid white; */
}

.line_header{
    font-size: 2em;
    padding-bottom:10px;
}
#main2{
    height:100vh;
    background-color:#1B1E32 ;
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
    justify-content: space-between;
    padding-bottom: 0em;
}

.proj{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.p_n{
    font-size: xxx-large ;
    font-weight: bold;
}


.proj_det{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content:stretch;
    align-items: flex-start;
}
.proj_pic > img{
    height:60vh;
    width: 40vw;
}
.proj_desc{
    max-width:50ch;
    color: rgb(199, 199, 199);
    font-size: 1.25em;
    line-height: 1.6;

}
.view_proj{
    width: 20%;
    border: none;
    background: #FD4370;
    padding: 1.2em;
    border-radius:8px;
    white-space: nowrap;
}


.stack{
color: white;
font-size:1.25em;
line-height: 1.6;
word-spacing: 5px;
}


.proj_det > button >a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 1em;
}
.proj_det > p{
    padding: 1em 0em;
} 


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next{
    position: absolute !important;
    bottom:10px;
    right: 10px;
}
#certi{
    height: 100%;
    width: 100%;
}